{% load static %}
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="{% url 'books:home' %}">HOME</a></li>
                            <li><a href="#">FEATURED</a></li>
                            <li><a href="#">REVIEW BOOK</a></li>
                            <li><a href="{% url 'about:about-home' %}">ABOUT AUTHOR</a></li>
                            <li><a href="#">pages</a>
                                <ul>
                                    <li><a href="{% url 'about:about-home' %}">About Us</a></li>
                                    <li><a href="#">Cart Page</a></li>
                                    <li><a href="#">Check Out</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Shopping Page</a></li>
                                    <li><a href="#">Single Shop Page</a></li>
                                    <li><a href="#">Wishlist Page</a></li>
                                    <li><a href="#">404 Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>