{% extends 'base.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="padding-bottom: 20px">
                    <div class="card-body">
                        <h3 class="card-title">Password changed!</h3>
                        <div class="alert alert-success" role="alert">
                            You have successfully changed your password! You may now proceed to log in.
                        </div>
                        <form>
                            <a href="{% url 'account:login' %}" class="btn btn-success btn-block">Return to log in</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}