{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h2>SHOP LEFT SIDEBAR</h2>
                        <ul class="breadcrumbs-list">
                            <li>
                                <a title="Return to Home" href="{% url 'books:home' %}">Home</a>
                            </li>
                            <li>SHOP LEFT SIDEBAR</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs Area Start -->
    <!-- Shop Area Start -->
    <div class="shopping-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="shop-widget">
                        <div class="shop-widget-top">
                            <aside class="widget widget-categories">
                                <h2 class="sidebar-title text-center">CATEGORY</h2>
                                <ul class="sidebar-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                            LEARNING
                                            <span>(5)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                            LIGHTING
                                            <span>(8)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                            LIVING ROOMS
                                            <span>(4)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                            LAMP
                                            <span>(7)</span>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget shop-filter">
                                <h2 class="sidebar-title text-center">PRICE SLIDER</h2>
                                <div class="info-widget">
                                    <div class="price-filter">
                                        <div id="slider-range"></div>
                                        <div class="price-slider-amount">
                                            <label for="amount"></label><input type="text" id="amount" name="price"
                                                                               placeholder="Add Your Price"/>
                                            <div class="widget-buttom">
                                                <input type="submit" value="Filter"/>
                                                <input type="reset" value="CLEAR"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="shop-widget-bottom">
                            <aside class="widget widget-tag">
                                <h2 class="sidebar-title">POPULAR TAG</h2>
                                <ul class="tag-list">
                                    <li>
                                        <a href="#">e-book</a>
                                    </li>
                                    <li>
                                        <a href="#">writer</a>
                                    </li>
                                    <li>
                                        <a href="#">book’s</a>
                                    </li>
                                    <li>
                                        <a href="#">eassy</a>
                                    </li>
                                    <li>
                                        <a href="#">nice</a>
                                    </li>
                                    <li>
                                        <a href="#">author</a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget widget-seller">
                                <h2 class="sidebar-title">TOP SELLERS</h2>
                                {% for book in book_list %}
                                    {% if book.book_best_seller %}
                                        <div class="single-seller">
                                            <div class="seller-img">
                                                <img width="50px" height="50px" src="{{ book.book_image }}" alt=""/>
                                            </div>
                                            <div class="seller-details">
                                                <a href="{% url 'books:individual-book' book_slug=book.book_slug book_isbn=book.book_isbn %}">
                                                    <h5>{{ book.book_title }}</h5></a>
                                                <h5>$ {{ book.book_price }}</h5>
                                                <ul>
                                                    {% for rating in book.r %}
                                                        <i class="fa fa-star icolor"></i>
                                                    {% endfor %}
                                                    {% for rating in book.n %}
                                                        <i class="fa fa-star"></i>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </aside>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="shop-tab-area">
                        <div class="shop-tab-list">
                            <div class="shop-tab-pill pull-left">
                                <ul>
                                    <li class="active" id="left"><a data-toggle="pill" href="#home"><i
                                            class="fa fa-th"></i><span>Grid</span></a></li>
                                    <li><a data-toggle="pill" href="#menu1"><i
                                            class="fa fa-th-list"></i><span>List</span></a></li>
                                </ul>
                            </div>
                            <div class="shop-tab-pill pull-right">
                                <ul>
                                    <li class="product-size-deatils">
                                        <div class="show-label">
                                            <label>Show : </label>
                                            <label>
                                                <select>
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="09">09</option>
                                                    <option value="08">08</option>
                                                    <option value="07">07</option>
                                                    <option value="06">06</option>
                                                </select>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="product-size-deatils">
                                        <div class="show-label">
                                            <label><i class="fa fa-sort-amount-asc"></i>Sort by : </label>
                                            <label>
                                                <select>
                                                    <option value="position" selected="selected">Position</option>
                                                    <option value="Name">Name</option>
                                                    <option value="Price">Price</option>
                                                </select>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="shop-pagination"><a href="#">1</a></li>
                                    <li class="shop-pagination"><a href="#">2</a></li>
                                    <li class="shop-pagination"><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="row tab-pane fade in active" id="home">
                                <div class="shop-single-product-area">
                                    {% for book in book_list %}
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-banner">
                                                <div class="product-wrapper">
                                                    <a href="{% url 'books:individual-book' book_slug=book.book_slug book_isbn=book.book_isbn %}"
                                                       class="single-banner-image-wrapper">
                                                        <img alt="{{ book.book_title }} logo"
                                                             src="{{ book.book_image }}">
                                                        <div class="price"><span>$</span> {{ book.book_price }}</div>
                                                    </a>
                                                    <div class="product-description">
                                                        <div class="functional-buttons">
                                                            <a href="#" title="Add to Cart">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                            <a href="#" title="Add to Wishlist">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                            <a href="#" id="{{ forloop.counter }}" title="Quick view"
                                                               data-toggle="modal"
                                                               onclick="showPopup('{{ book.book_slug }}')">
                                                                <i class="fa fa-compress"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="banner-bottom text-center">
                                                    <div class="banner-bottom-title">
                                                        <a href="{% url 'books:individual-book' book_slug=book.book_slug book_isbn=book.book_isbn %}">{{ book.book_title }}</a>
                                                    </div>
                                                    <div class="rating-icon">
                                                        {% for rating in book.r %}
                                                            <i class="fa fa-star icolor"></i>
                                                        {% endfor %}
                                                        {% for rating in book.n %}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="row">
                                    {% for book in book_list %}
                                        <div class="single-shop-product">
                                            <div class="col-xs-12 col-sm-5 col-md-4">
                                                <div class="left-item">
                                                    <a href="{% url 'books:individual-book' book_slug=book.book_slug book_isbn=book.book_isbn %}"
                                                       title="{{ book.book_title }}">
                                                        <img src="{{ book.book_image }}"
                                                             alt="{{ book.book_title }} logo"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-7 col-md-8">
                                                <div class="deal-product-content">
                                                    <h4>
                                                        <a href="{% url 'books:individual-book' book_slug=book.book_slug book_isbn=book.book_isbn %}"
                                                           title="East of ede#">{{ book.book_title }}</a>
                                                    </h4>
                                                    <div class="product-price">
                                                        <span class="new-price">$ {{ book.book_price_new }}</span>
                                                        <span class="old-price">$ {{ book.book_price }}</span>
                                                    </div>
                                                    <div class="list-rating-icon">
                                                        {% for rating in r %}
                                                            <i class="fa fa-star icolor"></i>
                                                        {% endfor %}
                                                        {% for rating in n %}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    </div>
                                                    <p>Faded short sleeves t-shirt with high neckline. Soft and stretchy
                                                        material for a comfortable fit. Accessorize with a straw hat and
                                                        you're ready for summer!</p>
                                                    <div class="availability">
                                                        {% if book.book_stock %}
                                                            <span>In stock</span>
                                                        {% else %}
                                                            <span><del style="color: red">In stock</del></span>
                                                        {% endif %}

                                                        <span><a
                                                                href="{% url 'cart:cart-home' %}">Add to cart</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}