<div class="breadcrumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h2>{{ title }}</h2>
                    <ul class="breadcrumbs-list">
                        <li>
                            <a title="Return to Home" href="{% url 'books:home' %}">Home</a>
                        </li>
                        <li>
                            <a title="Return to Home" href="#">{{ title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>